
<form action="/signup" method="POST">
  <p><label>Name</label>
  <input type="text" name="name" id="name"></p>
  <p><label>Username</label>
  <input type="text" name="username" id="username"></p>
  <p><label>Email</label>
  <input type="text" name="email" id="email"></p>
  <p><label>Password</label>
  <input type="text" name="password" id="password"></p>
<input type="submit" value="Sign Up" id="Submit">
</form>
